<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Vision Enterprise - Hardware</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- FONT AWASOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous">

    <!-- CSS STYLES -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/basics.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="grid-container">
        <header>
            <div class="container-header">
                <nav class="menu__main">
                    <ul class="menu__contact">
                        <li>
                            <a href=""> <i class="fas fa-wrench mr2"></i> Servicio Tecnico </a>
                        </li>
                        <div class="social-items f-col">
                            <li class="menu-item"><a href="https://www.facebook.com/realvisionet" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="menu-item"><a href="https://www.instagram.com/realvisionet/" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                            <li class="menu-item"><a href="" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                            <li class="menu-item"><a href="mailto:info@realvisionenterprise.com" title="Mensaje"><i class="fas fa-envelope"></i> Contacta con nosotros </a></li>
                        </div>
                    </ul>
                    <ul class="menu__options">
                        <div class="menu__logo">
                            <a href="https://realvisionenterprise.co/"> <img src="https://realvisionenterprise.co/assets/img/logos/Logo_RVE.png" alt="Logo Real Vision Enterprise"></a>
                        </div>

                        <div class="menu__principal__options">
                            <li class="menu-item"><a href="/computers">Computadoras armadas</a></li>
                            <li class="menu-item"><a href="https://realvisionenterprise.co/product/index">Tienda</a></li>
                            <li class="menu-item"><a href="https://realvisionenterprise.co/user/viewlogin" title="Login"><i class="fas fa-user"></i></a></li>
                            <li class="menu-item"><a href="https://realvisionenterprise.co/cart/index" title="Carrito de compras"><i class="fas fa-shopping-cart"></i> $0 </a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
                <div class="computer__card">
                    <div class="computer__card-img">
                        <img src="https://realvisionenterprise.co/assets/img/computers/IMPOWER 1 FAN LED.png" class="img-product" alt="">
                    </div>
                    <div class="computer__card-content">
                        <h2>PC GAMER BUDDY</h2>
                        <div class="config">
                            <h3>Configuración:</h3>
                            <span> <i class="fas fa-microchip"></i> Ryzen 3 3200G</span>
                            <span> <i class="fas fa-memory"></i> 16GB 3000 Mhz</span>
                            <span><i class="fas fa-vr-cardboard"></i> Radeon Vega 8</span>
                            <span><i class="fas fa-hdd"></i> SSD 480 GB</span>
                        </div>
                        <p class="computer__card-price">$1,980,00</p>
                        <a href="https://realvisionenterprise.co/pc/show&amp;id=3 " class="btn-primary"><span> Comprar ahora </span></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="header__shop">
                    <p>8 Articulos</p>
                    <form action="/computers/order" method="POST">
                        <select name="order" id="order" onchange="this.form.submit()">
                        <option value="" selected>Seleccionar orden</option>
                        <option value="ASC" >Precio: Mas barato primero</option>
                        <option value="DESC">Precio: Mas caro primero</option>
                    </select>
                    </form>
                </div>

            </div>

        </main>
        <footer>

        </footer>
    </div>
</body>

</html>