html {
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--principal-color);
    font-family: 'Poppins', sans-serif;
}

header a {
    grid-area: header;
    padding: .5rem;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
}

a {
    color: var(--principal-color);
    text-decoration: none;
}

ul {
    list-style: none;
}